@using Eventive.ApplicationLogic.DataModel;
@model IEnumerable<Event>;

<div class="row mt-5 justify-content-start">

    @foreach (var oneEvent in Model)
    {
        <div class="card text-light bg-secondary mx-2 mb-3">
            @if (oneEvent.ImageByteArray != null)
            {
                <img class="card-img-top" src="data:image/png;base64, @oneEvent.ImageByteArray" alt="Event thumbnail">
            }
            else
            {
                <img class="card-img-top" src="~/images/other.png" alt="Event thumbnail">
            }
            <div class="card-img-overlay">
                <div class="d-flex justify-content-between">
                    <div class="event-date">@oneEvent.EventDetails.Deadline.ToString("HH:mm dd/MM/yyyy")</div>
                    <div class="event-category">@oneEvent.Category</div>
                </div>
            </div>

            <div class="card-body d-flex flex-column">
                <h5 class="card-title">@oneEvent.Title</h5>
                <div class="d-flex justify-content-between">
                    @if (oneEvent.EventDetails.ParticipationFee > 0)
                    {
                        <p class="card-text">@oneEvent.EventDetails.ParticipationFee</p>
                    }
                    else
                    {
                        <p class="card-text">No fee</p>
                    }
                    <p>Participants: @oneEvent.EventDetails.MaximumParticipantNo</p>
                </div>

                <p class="card-text">📍 @oneEvent.EventDetails.Location</p>
                <p class="card-text">@oneEvent.EventDetails.Description</p>

                <div class="mt-auto">
                    <button type="button" onclick="loadEditEvent('@oneEvent.Id')" data-toggle="modal" data-target="#editEventModal" class="btn btn-light btn-lg btn-block">Edit Event</button>
                    <button type="button" onclick="loadRemoveEvent('@oneEvent.Id')" data-toggle="modal" data-target="#removeEventModal" class="btn btn-light btn-lg btn-block">Delete Event</button>
                </div>
            </div>
        </div>
    }
</div>