@using System.Configuration;
@using Eventive.Models.Events;
@using Eventive.ApplicationLogic.DataModel;
@model EventListViewModel;
@{
    ViewData["Title"] = "Events";
}

<div class="d-flex justify-content-around m-xl-5">
    <div class="col-3 mr-4 d-flex">
        <span class="category-title">Category:</span>
        <select id="selectpicker" class="form-select form-control">
            <option value="">All</option>
            @foreach (var category in Enum.GetValues(typeof(EventOrganized.EventCategory)))
            {
                <option value='@category'>@category</option>
            }
        </select>
    </div>

    <input id="searchTitleBar" class="form-control search-bar col-3 mr-4" type="text" placeholder="Search by name" aria-label="Search">
    <input id="searchLocationBar" class="form-control search-bar col-3 mr-4" type="text" placeholder="Search by location" aria-label="Search">

    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <button class="btn createButton ml-3" data-toggle="modal" data-target="#newEventModal">Create</button>
        </div>
    }
</div>

<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" onclick="loadEvents()">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" onclick="loadRecommended()">Recommended</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" onclick="loadTrending()">Trending</a>
        </li>
    </ul>
</div>

<hr />

<div id="eventContainer"></div>

@section Scripts {
    @{
        string apiKey = ConfigurationManager.AppSettings.Get("GOOGLE_API_KEY");
        string scriptUrl = string.Format("https://maps.googleapis.com/maps/api/js?key={0}&libraries=places", apiKey);

        <script src="@scriptUrl"></script>
    }

    <partial name="_ScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            loadEvents();
        });

        function loadEvents() {
            var category = $("#selectpicker").val();
            loadServerPartialView("#eventContainer", '@Url.Action("EventContainer", "Event")' + "/" + category);
        }

        function loadTrending() {
            loadServerPartialView("#eventContainer", '@Url.Action("TrendingContainer", "Event")');
        }

        function loadRecommended() {
            loadServerPartialView("#eventContainer", '@Url.Action("RecommendedContainer", "Event")');
        }

        function modalFormComplete(modalName) {
            $(modalName).modal("hide");
            loadEvents();
            initializeGoogleApi();
        }

        function initializeGoogleApi() {
            var input = document.getElementById('locationInput');
            var autocomplete = new google.maps.places.Autocomplete(input);

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                document.getElementById('isLocationValid').value = true;
                var place = autocomplete.getPlace();
                document.getElementById('cityLat').value = place.geometry.location.lat();
                document.getElementById('cityLong').value = place.geometry.location.lng();
            });
        }

        google.maps.event.addDomListener(window, 'load', initializeGoogleApi);

        $("#locationInput").keydown(function () {
            document.getElementById('isLocationValid').value = false;
        });
    </script>
}