@using System.Configuration;
@using Eventive.Models.Events;
@using Eventive.ApplicationLogic.DataModel;
@model EventListViewModel;
@{
    ViewData["Title"] = "Events";
}

<div class="d-flex justify-content-around m-xl-5">
    <div class="col-3 mr-4 d-flex">
        <span class="category-title">Category:</span>
        <select id="selectpicker" class="form-select form-control">
            <option value="">All</option>
            @foreach (var category in Enum.GetValues(typeof(EventOrganized.EventCategory)))
            {
                <option value='@category'>@category</option>
            }
        </select>
    </div>

    <input id="searchTitleBar" class="form-control search-bar col-3 mr-4" type="text" placeholder="Filter by name" aria-label="Search">
    <input id="searchLocationBar" class="form-control search-bar col-3 mr-4" type="text" placeholder="Filter by location" aria-label="Search">

    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <button class="btn createButton ml-3" data-toggle="modal" data-target="#newEventModal">Create</button>
        </div>
    }
</div>

<div id="loadEventsContainer" class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" onclick="loadEvents()">All</a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link" id="loadRecommended" data-toggle="pill" onclick="loadRecommended()">Recommended</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" id="loadTrending" data-toggle="pill" onclick="loadTrending()">Trending</a>
        </li>
    </ul>
</div>

<hr />

<div id="eventContainer"></div>

@section Scripts {
    @{
        string apiKey = ConfigurationManager.AppSettings.Get("GOOGLE_API_KEY");
        string scriptUrl = string.Format("https://maps.googleapis.com/maps/api/js?key={0}&libraries=places", apiKey);

        <script src="@scriptUrl"></script>
    }

    <partial name="_ScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            loadEvents();
            initializeGoogleApi();
        });

        function loadEvents() {
            var category = $("#selectpicker").val();
            loadServerPartialView("#eventContainer", '@Url.Action("EventContainer", "Event")?category=' + category);
        }

        function loadRecommended() {
            var category = $("#selectpicker").val();
            var latitude = null;
            var longitude = null;

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success, error);
                function success(position) {
                    latitude = position.coords.latitude;
                    longitude = position.coords.longitude;
                    loadServerPartialView("#eventContainer", '@Url.Action("RecommendedContainer", "Event")?category=' + category + "&lat=" + latitude + "&lng=" + longitude);
                }

                function error() {
                    loadServerPartialView("#eventContainer", '@Url.Action("RecommendedContainer", "Event")?category=' + category);
                }
            }
        }

        function loadTrending() {
            var category = $("#selectpicker").val();
            loadServerPartialView("#eventContainer", '@Url.Action("TrendingContainer", "Event")?category=' + category);
        }

        $('#selectpicker').change(function () {
            if ($('.nav a.nav-link#loadRecommended').hasClass('active')) {
                loadRecommended();
            } else if ($('.nav a.nav-link#loadTrending').hasClass('active')) {
                loadTrending();
            } else {
                loadEvents();
            }
        });

        function modalFormComplete(modalName) {
            hideModal(modalName);
            loadEvents();
        }

        function editModalFormComplete(modalName) {
            hideModal(modalName);
            loadEvents();
            initializeGoogleApi();
        }
    </script>
}