@using System.Configuration;
@{
    ViewData["Title"] = "My Events";
}

<div>
    <div class="d-flex justify-content-around m-xl-5">
        <input id="searchTitleBar" class="form-control search-bar col-3 mr-4" type="text" placeholder="Filter by name" aria-label="Search">
        <input id="searchLocationBar" class="form-control search-bar col-3 mr-4" type="text" placeholder="Filter by location" aria-label="Search">

        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <button class="btn createButton ml-3" data-toggle="modal" data-target="#newEventModal">Create</button>
            </div>
        }
    </div>

    <hr />

    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" id="loadCreated" data-toggle="pill" onclick="loadCreatedEvents()">Created Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="loadApplied" data-toggle="pill" onclick="loadAppliedEvents()">Applied Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="loadFollowing" data-toggle="pill" onclick="loadFollowingEvents()">Following Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="loadPast" data-toggle="pill" onclick="loadPastEvents()">Past Events</a>
        </li>
    </ul>
</div>

<div id="eventsContainer"></div>

@section Scripts {
    @{
        string apiKey = ConfigurationManager.AppSettings.Get("GOOGLE_API_KEY");
        string scriptUrl = string.Format("https://maps.googleapis.com/maps/api/js?key={0}&libraries=places", apiKey);

        <script src="@scriptUrl"></script>
    }

    <partial name="_ScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            loadCreatedEvents();
            initializeGoogleApi();
        });

        function modalFormComplete(modalName) {
            hideModal(modalName);
            loadCreatedEvents();
        }

        function editModalFormComplete(modalName) {
            hideModal(modalName);
            loadCreatedEvents();
            initializeGoogleApi();
        }

        function loadCreatedEvents() {
            if (!$('.nav a.nav-link#loadCreated').hasClass('active')) {
                $('.nav a.nav-link#loadCreated').addClass('active');
            }
            $('.nav a.nav-link#loadApplied').removeClass('active');
            $('.nav a.nav-link#loadFollowing').removeClass('active');
            $('.nav a.nav-link#loadPast').removeClass('active');

            loadServerPartialView("#eventsContainer", '@Url.Action("CreatedEvents", "Event")');
        }

        function loadAppliedEvents() {
            loadServerPartialView("#eventsContainer", '@Url.Action("AppliedEvents", "Event")');
        }

        function loadFollowingEvents() {
            loadServerPartialView("#eventsContainer", '@Url.Action("FollowingEvents", "Event")');
        }

        function loadPastEvents() {
            loadServerPartialView("#eventsContainer", '@Url.Action("PastEvents", "Event")');
        }
    </script>
} 