
@{
    ViewData["Title"] = "Profile";
}

<div class="row mt-5 container justify-content-around">

    <div id="profileContainer"></div>

    <div class="mt-5">
        <div class="mt-5">
            <a href="#created" class="hyper-link">Created Events</a>
        </div>
        <div class="mt-5">
            <a href="#following" class="hyper-link">Following Events</a>
        </div>
        <div class="mt-5">
            <a href="#applied" class="hyper-link">Applied Events</a>
        </div>
        <div class="mt-5">
            <a href="#past" class="hyper-link">Past Events</a>
        </div>
    </div>
</div>

<hr />
<h1 id="created">Created Events</h1>
<div id="createdContainer"></div>
<hr />

<h1 id="following">Following Events</h1>
<div id="followingContainer"></div>
<hr />

<h1 id="applied">Applied Events</h1>
<div id="appliedContainer"></div>
<hr />

<h1 id="past">Past Events</h1>
<div id="pastContainer"></div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <partial name="_ModalsPartial" />
    <script src="~/js/EventContainer.js" type="text/javascript"></script>

    <script>

        function LoadApplyToEvent(id) {
            loadServerPartialView("#applyBody", '@Url.Action("Apply", "Event")' + "/" + id).success(function () {
                applyToEvent(id);
            });
        }

        function LoadEditEvent(id) {
            loadServerPartialView("#editEventBody", '@Url.Action("Edit", "Event")' + "/" + id);
        }

        function LoadRemoveEvent(Id) {
            loadServerPartialView("#removeEventBody", '@Url.Action("Remove", "Event")' + "/" + Id);
        }

        function LoadEditProfile(Id) {
            loadServerPartialView("#editProfileBody", '@Url.Action("EditProfile", "Profile")' + "/" + Id);
        }

        function modalFormComplete(modalName) {
            $(modalName).modal("hide");
            loadEvents();
        }

        function updateProfileComplete(modalName) {
            $(modalName).modal("hide");
            loadProfile();
        }

        function loadEvents() {
            loadServerPartialView("#appliedContainer", '@Url.Action("AppliedEvents", "Event")');
            loadServerPartialView("#followingContainer", '@Url.Action("FollowingEvents", "Event")');
            loadServerPartialView("#createdContainer", '@Url.Action("CreatedEvents", "Event")');
            loadServerPartialView("#pastContainer", '@Url.Action("PastEvents", "Event")');
        }

        function loadProfile() {
            loadServerPartialView("#profileContainer", '@Url.Action("GetProfile", "Profile")');
        }

        $(document).ready(function () {
            loadProfile();
            loadEvents();
        });
    </script>
}